<div class="container-fluid" style="padding:0.5em;">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <span class="navbar-brand mb-0 h1">OneTrack</span>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="Home">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex"> 
                    <li class="nav-item">
                        <a class="nav-link disabled" href="PrivacyPolicy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="About">About</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>