@page "/vehiclecolors"
@inject HttpClient _httpClient
@inject VehicleColorService ColorService
@inject NavigationManager NavigationManager
@using OT.Shared

<div class="container-xl mb-xl-3">
    <div class="row">
        <div class="mb-3">
            <h1>Vehicle Colors</h1>
        </div>
        <div class="mb-3">
            <button @onclick="NavigateToCreateNewColor" class="btn btn-outline-primary" disabled="@isNavigating">Create New Vehicle Color</button>
        </div>
    </div>    
</div>
<div class="mb-3">
    @if (colors == null)
    {
        <p><em>Loading ...</em></p>
    }
    else if (colors.Count == 0)
    {
        <p><em>No Vehicle Colors found.</em></p>
    }
    else
    {       
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Color Name</th>
                    <th>Hex Value</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var color in colors)
                {
                    <tr>   
                        <td>
                            @color.ColorName
                        </td>
                        <td>
                            @color.HexValue
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" @onclick="() => EditColor(color.Id)">Edit</button> | <button type="button" class="btn btn-outline-danger" @onclick="() => ConfirmDelete(color.Id, color.ColorName)" data-bs-toggle="modal" data-bs-target="#deleteConfirmationStaticBackdrop">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationStaticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteConfirmationStaticBackdropLabel">Confirm @currentColorName Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the color '@currentColorName'?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteColor" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>



@code {
    private List<VehicleColor> colors;
    private int currentColorId;
    private string currentColorName;

    private bool isNavigating = false;

    protected override async Task OnInitializedAsync()
    {
        colors = await ColorService.GetVehicleColorsAsync();
    }    

    private void NavigateToCreateNewColor()
    {
        isNavigating = true;
        NavigationManager.NavigateTo("/vehiclecolor/create");
        isNavigating = false;
    }

    private void EditColor(int id)
    {
        NavigationManager.NavigateTo($"/vehiclecolor/edit/{id}");
    }

    private void ConfirmDelete(int colorId, string colorName)
    {
        currentColorId = colorId;
        currentColorName = colorName;
        StateHasChanged(); // Ensure the UI updates the new values before showing the modal
    }

    private async Task DeleteColor()
    {
        bool deleted = await ColorService.DeleteVehicleColor(currentColorId);
        if (deleted)
        {
            // Refresh the list or navigate away
            colors.RemoveAll(c => c.Id == currentColorId);
            StateHasChanged(); // Update UI
        }
        else
        {
            // Handle the case where the deletion was not successful
            // Show an error message or log the error
            Console.WriteLine("Failed to delete the color.");
        }
    }    
}
