@using OT.Blazor.Services
@inject OT.Blazor.Services.VinLookupService VinService


<div>
    <div class="mb-3">
        <label for="vin" class="form-label">VIN</label>
        <input @bind="vin" class="form-control" id="vin" />
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Year (optional)</label>
        <InputNumber @bind-Value="year" class="form-control" id="year" />        
    </div>    
    <button @onclick="LookupVin" class="btn btn-success">Lookup Vin</button>
</div>

@if (vehicleDetails != null)
{
    <div style="margin-top:0.5em;">
        <EditForm Model="vehicleDetails" OnInvalidSubmit="SaveVehicle">
            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <InputText @bind-Value="vehicleDetails.Color" class="form-control" id="color" />
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Color</label>
                <InputText @bind-Value="vehicleDetails.Year" class="form-control" id="year" />
            </div>
            <div class="mb-3">
                <label for="make" class="form-label">Make</label>
                <InputText @bind-Value="vehicleDetails.Make" class="form-control" id="make" />
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model</label>
                <InputText @bind-Value="vehicleDetails.Model" class="form-control" id="model" />
            </div>
            <div class="mb-3">
                <label for="trim" class="form-label">Trim</label>
                <InputText @bind-Value="vehicleDetails.Trim" class="form-control" id="trim" />
            </div>
            <div class="mb-3">
                <label for="doors" class="form-label">Doors</label>
                <InputText @bind-Value="vehicleDetails.Doors" class="form-control" id="doors" />
            </div>
            <div class="mb-3">
                <label for="gvwr" class="form-label">GVWR</label>
                <InputText @bind-Value="vehicleDetails.Gvwr" class="form-control" id="gvwr" />
            </div>
            
            <button type="submit" class="btn btn-primary" disabled>Save To Database</button>
        </EditForm>
    </div>    
}

@code {
    private string vin;
    private int? year; // Optional Year Input
    private VehicleDetails vehicleDetails;

    private async Task LookupVin()
    {
        vehicleDetails = await VinService.GetVehicleDetailsByVin(vin);
    }

    private async Task SaveVehicle()
    {
        // Call OT.Api to save vechileDetails
    }
}
